---
import Layout from "../layouts/layout.astro";

---

<Layout title="Home">
	<a href="/tour" class="px-4 py-2 bg-zinc-300 rounded-md text-primary">Tour</a>
	<h1 class="text-xl p-4">Astro</h1>
</Layout>