---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="tours">
  <h1>Tours</h1>
  <p>Explore our exciting tours and embark on unforgettable journeys with us!</p><p>Explora nuestros tours disponibles y descubre destinos fascinantes alrededor del mundo. Cada tour está diseñado para ofrecerte experiencias únicas e inolvidables.</p>
</Layout>